.form_group {
    margin-bottom: 1.8rem;
    position: relative;
}

.input {
    width: 100%;
    height: 2.8rem;
    padding-left: 0.7rem;
    border-radius: 0.9rem;
    border: 0;  
    font-size: 1rem;
    line-height: 1.1rem;
    background-color: #408D86;
    color: #fff;
    outline: none;
}

.input_label {
    position: absolute;
    left: 0.7rem;
    top: 0.7rem;
    pointer-events: none;
    transition: 0.5s;
    color: #fff;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-30px);
    font-size: 0.875rem;
    opacity: 1;
    color: #fff;
}

input[type=date]{ color: transparent; }
input[type=date]:valid{ color: #fff; }
input[type=date]:focus{ color: #fff; }

@media only screen and (min-width:768px) {
    .form_group {
        font-size: 0.875rem;
        margin: 0;
    }

    .input {
        background-color: #fff;
        color: #263339;
        border-radius: 1.25rem;
        height: 2.5rem;
        font-size: 0.875rem;
        line-height: 1rem;
        padding-left: 1.1rem ;
    }

    input:focus ~ label {
        color: #fff;
        font-size: 0.875rem;
    }

    .input_label {
        color: #263339;
        margin-left: 0.3rem;
    }

    form input:focus ~ label,
    form input:valid ~ label {
        transform: translateY(-2rem);
        color: #fff;
    }

    input[type=date]{ color: transparent; }
    input[type=date]:valid{ color: #fff; }
    input[type=date]:focus{ color: #fff; }
}
