body {
  margin: 0;
  padding: 0;
  background-color: var(--Peltre);
}

:root {
  --Azul-escuro: #333652;
  --Amarelo: #fad02c;
  --Peltre: #e9eaec;
  --Cinza-azulado: #90adc6;
  --input: rgba(219, 194, 73, 0.39);
  --Azul-check: #353854;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#container-logo img {
  height: 166px;
}

#container-form {
  padding: 15px;
  margin: 20px 0 0 0;
}

#form label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#form input {
  width: 231px;
  height: 45px;
  border-radius: 15px;
  border-style: none;
  background-color: var(--input);
  margin: 0 0 25px 0;
}

#form input::placeholder {
  padding: 30px;
  text-transform: uppercase;
}

#terms {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

#terms input {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

#terms label {
  margin-top: 6px;
}

#submit {
  width: 231px;
  height: 45px;
  border-radius: 15px;
  border-style: none;
  margin: 25px 0;
  background-color: var(--Azul-check);
  color: #e9eaec;
}

@media screen and (max-device-width: 375px) {
  #form label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  #form input {
    width: 231px;
    height: 35px;
    border-radius: 15px;
    border-style: none;
    background-color: var(--input);
    margin: 0 0 15px 0;
  }
}
