.navbarnew {
  display: flex;
  background-color: var(--darkbtn-color);
  overflow: hidden;
  height: 4rem;
  text-decoration: dotted;
  width: 100%;
}

.ulis {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: end;
  margin: 1rem;
  margin-right: 1%;
  width: 100%;
}

.texto_nav {
  display: inline-block;
  margin-right: 2rem;
  color: var(--backgrounddesktop-color);
  text-decoration: none;
  cursor: pointer;
  font-size: 1em; 
}

.button_div {
  display: inline-block;
  margin-right: 2rem;
  color: var(--backgrounddesktop-color);
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}

.alink {
  text-decoration: none;
  color: var(--backgrounddesktop-color);
  transition: all 0.25s ease-in-out;
  font-size: 0.875rem;
}

.alink:hover {
  color: var(--backgroundmobile-color);
}

.texto_nav:after {
  content: '';
  display: block;
  height: 0.125rem;
  background: var(--backgrounddesktop-color);
  transform: scaleX(0);
  transition: transform .5s;
}

.texto_nav:hover:after {
  transform: scaleX(1);
  transition: transform .5s;
}

.btn {
  height: 2rem;
  border-radius: 1.25rem;
  width: 6rem;
  background-color: var(--backgrounddesktop-color);
  border: none;
  font-family: "roboto";
  color: var(--darkbtn-color);
  font-weight: 500;
  font-size: 0.875rem;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--hoverbotaoclaropraescuro--color);
  color: #fafafa;
}
@media screen and (max-width: 768px) { 
  .texto_nav {
    font-size: 0.9em;
    margin-right: 1.5rem;
   
  }

   .button_div {
    font-size: 0.9em;
    margin-right: 1.5rem;
   
  }
  .navbarnew{
    height: 3.5rem;
  }

  .btn {
    font-size: 1em; 
    padding: 0em 0em;
    height: 1.2rem;
    width: 5rem;
  }
}


@media screen and (max-width: 500px) { 
  .texto_nav {
    font-size: 0.5em;
    margin-right: 1rem;
   
  }

   .button_div {
    font-size: 0.5em;
    margin-right: 1rem;
   
  }
  .navbarnew{
    height: 3.5rem;
  }

  .btn {
    font-size: 1em; 
    padding: 0em 0em;
    height: 1.2rem;
    width: 5rem;
  }
}

@media screen and (max-width: 375px) {
  .navbarnew {
    display: none;
  }

  .btn {
    display: block;
    position: absolute;
  }
}