* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    
    background: #E9EAEC;
}

.img-logo {
    width: 99px;
    height: 166px;

    margin-bottom: 59px;
}

.login {
    display: flex;
    flex-direction: column;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}

.login_cpf,
.login_password {
    /* all: unset; */

    width: 231px;
    height: 45px;

    margin-bottom: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;   

    background: rgba(219, 194, 73, 0.39);
    border-radius: 15px;
    border: 0 none;
    color: #fff;
    cursor: pointer;
}

.login_remember-password,
.login_forgot-password {
    display: flex;
    justify-content: center;

    margin-top: 16px; 
}

.forgot-password_text,
.forgot-password_link {
    margin-right: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.remember-password_checkbox {
    width: 18px;
    height: 18px;

    margin-right: 13px;
    background: #353854;
}

.login_btn {
    all: unset;

    width: 231px;
    height: 45px;

    margin-top: 37px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center; 

    background: #353854;;
    border-radius: 15px;
    cursor: pointer;
}

.login_btn:hover {
    background-color: #DBC249;   
}

.btn_link {    
    text-decoration: none;
    color: #fff;
}

