.content {
    position: absolute;
    height: 100vh;
    width: 85%;
    top: 0;
    background-color: var(--backgroundmobile-color);
    right: 0;
}

.titulo {

    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 100;
}

.article {
    margin: auto;
    width: 50%;
    margin-top: 7rem;
    text-align: center;
}

.saldo {
    word-spacing: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    margin-right: 6rem;
}

.valorsaldo {

    font-size: 3rem;
    word-spacing: 0;
    font-weight: 400;
}

.ultimas_trans {

    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
}

@media screen and (max-width: 490px) {
    .content {
        position: relative;
        width: 100%;
        height: 100vh;
        z-index: -1;

    }

    .titulo {


        padding-top: 2rem;
        margin: auto;
        font-size: 2rem;
        text-align: center;
        color:black;
    }

    .saldo {
        position: absolute;
        font-size: 1rem;
        margin: auto;
        top: 7rem;
        word-spacing: normal;
        padding: 0.5rem;
        padding-right: 5rem;
        padding-left: 5rem;
        background-color: aquamarine;
        border-radius: 30px;
        left: 50%;
        transform: translate(-50%);
    }
    .valorsaldo{
        font-size: 1.25rem;
    }

    .article {
        margin-top: 10rem;
        
    }

    .ultimas_trans {

        font-size: 1rem;
    }

    .saldoword {
        display: none;
    }


   
}