* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --project-white: #e9eaec;
  --dark-blue: #353854;
  --yallow: #dbc249;
}

body {
  height: 100vh;
  background-color: wri var(--project-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#logo {
  width: 99px;
  height: 166px;
}
#container-button {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.homeBtn {
  width: 14.4rem;
  height: 2.8rem;
  border-radius: 0.9rem;
  border: solid transparent;
  font-size: 1rem;
  font-weight: 400;
}
.homeBtn:hover {
  box-shadow: 0px 0px 3px 1px rgba(53, 56, 84, 0.486);
  transition: 0.2s;
  cursor: pointer;
}
#button-acess-account {
  color: var(--dark-blue);
  background-color: var(--yallow);
}
#button-create-account {
  color: var(--project-white);
  background-color: var(--dark-blue);
}
