* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {

    --backgourcor: #e9eaec;
    --amarelogo: #fad02c;
    --azulescuro: #333652;
    --azulcinza: #90adc6;
}

body {
    height: 100vh;
    background: var(--backgourcor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div#cardprincipal {

    display: flex;
    flex-direction: column;

height: 50vh;

}

#logotipo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6.18rem;
    height: 10.37rem;
    margin-bottom: 1em;
}

#btnsenha {
    width: 17.8rem;
    height: 2.8rem;
    background: var(--azulescuro);
    border-radius: 15px;
    color: #BEBEBE;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    border: none;
    margin-bottom: 1em;

    


}

#cpfarea {
    width: 17.8rem;
    height: 2.8rem;
    margin-left: auto;
    margin-right: auto;
    background: rgba(219, 194, 73, 0.39);
    border-radius: 0.93rem;
    text-align: center;
    margin-top: 1em;
    font-style: normal;
    font-weight: bold;
    font-size: 0.87rem;
    line-height: 1.06rem;
    border: 1px solid #b69b2e;
}

#btnsenha:hover {

    box-shadow: 0px 0px 3px 1px rgba(10, 10, 10, 0.486);

    transition: 0.2s;
    cursor: pointer;
}

#cpfarea:focus {
    
    outline: none;
}

#codigoenviado {
 
 text-align: center;
 align-items: center;
 justify-content: center;
 display: none; 
 

}



