body {
  margin: 0;
  padding: 0;
  background-color: var(--Peltre);
}

:root {
  --Azul-escuro: #333652;
  --Amarelo: #fad02c;
  --Peltre: #e9eaec;
  --Cinza-azulado: #90adc6;
  --input: rgba(219, 194, 73, 0.39);
  --Azul-check: #353854;
}

#btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reject {
  width: 231px;
  height: 45px;
  border-radius: 15px;
  border-style: none;
  margin: 25px 0;
  background-color: var(--Azul-check);
  color: #e9eaec;
}

.termos {
  display: flex; 
  justify-content: center; 
  align-items: center;
  /*max-width: 80%; */
  margin: 40 auto;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.fundo{
  padding: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#titulo{
  text-align: center;
}

