.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--hoverbotaoclaropraescuro--color);
    height: 100vh;
    width: 15%;
    text-align: center;

}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    height: 50vh;
    width: 100%;
}

.logotipo {
    width: 5rem;
    margin-bottom: 2rem;
}

.perfil {
    width: 5rem;
    margin-top: 2rem;
}

.btn {
    width: 100%;
    height: 8rem;
    background-color: var(--hoverbotaoclaropraescuro--color);
    border: none;
    transition: all 0.25s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--backgrounddesktop-color);
}

.imagemsaldo {
    width: 5rem;
}

.imagemdollar {
    width: 5rem;
}

.imagemtranfer {
    width: 5rem;
}

.saldobtnActive {
    border-right: 5px solid var(--darkbtn-color);

}

.extratobtnActive {
    border-right: 5px solid var(--darkbtn-color);
}

.transferbtnActive {
    border-right: 5px solid var(--darkbtn-color);
}


@media screen and (max-width: 490px) {


    .navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 0;
        background-color: var(--hoverbotaoclaropraescuro--color);
        height: 4rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-radius: 10px 10px 0 0;
        justify-content: center;
    }

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        height: 4rem;
        width: 100vh;

    }

    .li {
        width: 5rem;

    }

    .logotipo {
        position: absolute;
        width: 2rem;
        top: -88vh;
        left: 1rem;

    }

    .perfil {
        position: absolute;
        width: 3rem;
        top: -92vh;
        right: 1rem;
    }

    .btn {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--hoverbotaoclaropraescuro--color);
        border: none;
        transition: all 0.25s ease-in-out;
    }

    .btn:hover {
        cursor: pointer;
        background-color: var(--backgrounddesktop-color);
    }

    .imagemsaldo {
        width: 30px;
    }

    .imagemdollar {
        width: 30px;
    }

    .imagemtranfer {
        width: 30px;
    }

    .saldobtnActive {
        border-top: 4px solid var(--darkbtn-color);

    }

    .extratobtnActive {
        border-top: 4px solid var(--darkbtn-color);
    }

    .transferbtnActive {
        border-top: 4px solid var(--darkbtn-color);
    }

    


}

@media screen and (max-width: 350px) {

    .logotipo {
        position: absolute;
        width: 2rem;
        top: -80vh;
        left: 1rem;

    }

    .perfil {
        position: absolute;
        width: 3rem;
        top: -87vh;
        right: 1rem;
    }

}