.btn_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hoverbotaoclaropraescuro--color);
}

.btn_logout {
    width: 40px;
    height: 25px;
    margin: 10px 10px 0 0;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    
}