.btn_logout {
    height: 3rem;
    border-radius: 1.25rem;
    margin-top: 1rem;
    width: 12rem;
    background-color: rgb(148, 9, 9);
    border: none;
    font-family: "roboto";
    color: var(--darkbtn-color);
    font-weight: 500;
    font-size: 0.875rem;
    transition: all 0.25s ease-in-out;
    font-size: 1.25rem;
    color: var(--backgroundmobile-color);
}

.btn_logout:hover {

    cursor: pointer;
    background-color: rgb(189, 13, 13);
   
}