.form_content {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: blueviolet;

    background-color: var(--darkbtn-color);
    width: 37.15rem;
    height: 45rem;
    border-radius: 6.25rem;
    color: var(--backgroundmobile-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.dark_logo {
    display: none !important;
}

.main {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
    
}

.form_content {
    background-color: var(--darkbtn-color);
    width: 37.15rem;
    height: 45rem;
    border-radius: 6.25rem;
    color: var(--backgroundmobile-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input {
    background-color: var(--backgrounddesktop-color);
    width: 33.43rem;
    height: 5.31rem;
    border-radius: 3.12rem;
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--backgroundmobile-color);
}

.input:focus {
    outline: 1px solid var(--hoverbotaoclaropraescuro--color);
}

.input::placeholder {
    color: var(--backgroundmobile-color);
}

.pass_check {
    display: flex;
    justify-content: space-around;
}

a {
    color: var(--backgroundmobile-color);
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.btn {
    width: 29.31rem;
    height: 4rem;
    margin: 0.3rem;
    background-color: var(--hoverbotaoescuropraclaro--color);
    border-radius: 3.12rem;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--backgroundmobile-color);
    font-size: 2.18rem;
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: var(--hoverbotaoclaropraescuro--color);
}

@media screen and (max-width: 768px) {

    .form_content {
        position: absolute;
        top: 50%;
        left: 55%;
    }

    .dark_logo {
        display: block !important;
    }
    .img {
        display: none;
    }

    .form_content {
        background-color: var(--backgroundmobile-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;
    }

    .form_content img:first-child {
        display: none;
    }

    .input {
        width: 14.5rem;
        height: 2.62rem;
        border: none;
        font-size: 1.18rem;
        background-color: var(--hoverbotaoclaropraescuro--color);
    }

    .pass_check {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--darkbtn-color);
    }
    
    a {
        color: var(--darkbtn-color);
    }

    .btn {
        width: 14.5rem;
        height: 2.62rem;
        font-size: 1.18rem;
        background-color: var(--darkbtn-color);
    }

    .btn button:last-child {
        display: none;
    }
}