.form_content {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.img {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.main {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
    
}

.form_content {
    background-color: var(--darkbtn-color);
    width: 37.15rem;
    height: 45rem;
    border-radius: 6.25rem;
    color: var(--backgroundmobile-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input {
    background-color: var(--backgrounddesktop-color);
    width: 33.43rem;
    height: 5.31rem;
    border-radius: 3.12rem;
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--backgroundmobile-color);
}

.input:focus {
    outline: 1px solid var(--hoverbotaoclaropraescuro--color);
}

.input::placeholder {
    color: var(--backgroundmobile-color);
}

.pass_check {
    display: flex;
    justify-content: space-around;
}

a {
    color: var(--backgroundmobile-color);
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.btn {
    width: 29.31rem;
    height: 4rem;
    margin: 0.3rem;
    background-color: var(--hoverbotaoescuropraclaro--color);
    border-radius: 3.12rem;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--backgroundmobile-color);
    font-size: 2.18rem;
    border: none;
}